@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --clr-light-red: hsl(356, 100%, 66%);
  --clr-very-light-red: hsl(355, 100%, 74%);
  --clr-very-dark-blue: hsl(208, 49%, 24%);
  --clr-grayish-blue: hsl(240, 2%, 79%);
  --clr-very-dark-grayish-blue: hsl(207, 13%, 34%);
  --clr-very-dark-black-blue: hsl(240, 10%, 16%);
  --gd-very-light-red: hsl(13, 100%, 72%);
  --gd-light-red: hsl(353, 100%, 62%);
  --gd-very-dark-gray-blue: hsl(237, 17%, 21%);
  --gd-very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  outline: 0 !important;
}

img {
  max-width: 100%;
  display: block;
}

.overpass {
  font-family: "Overpass", sans-serif;
  font-weight: var(--weight, 300);
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: var(--weight, 400);
}
.header {
  background-image: url(/assets/bg-pattern-intro-mobile.svg),
    linear-gradient(to right, var(--gd-very-light-red), var(--gd-light-red));
  background-blend-mode: lighten;
  background-size: 180%;
  background-position: -200px -240px;
  padding: 1.8em;
  padding-top: 3em;
  font-size: 1.1rem;
  border-bottom-left-radius: 60px;
}
.close-icon,
.desktop-icon {
  display: none;
}
ul {
  list-style-type: none;
}
.flex {
  display: flex;
}
.header header {
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-lists-container {
  display: none;
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.connect {
  border-bottom: 1px solid var(--clr-very-dark-blue);
}
.connect p {
  text-align: center;
  display: inline-block;
  padding-bottom: 1em;
}
.connect img {
  display: inline-block;
}
.nav-lists > li {
  margin: 2em;
}
.sub-list {
  display: none;
  background-color: var(--clr-grayish-blue);
  margin-bottom: 20px;
  border: 5px;
  padding: 1px;
}
.sub-list > li {
  margin: 1em;
}
.sign-up {
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--gd-very-light-red),
    var(--gd-light-red)
  );
  display: inline-block;
  color: white;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding: 0.7em 1.8em 0.5em;
  border-radius: 30px;
}
.header-heading,
.header-paragraph {
  color: white;
  text-align: center;
  margin-block: 1.4em;
}
.header-heading {
  margin-top: 3em;
}

button {
  padding: 0.5em 1em;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid white;
  background-color: var(--bg);
  margin-left: 1em;
  color: var(--clr, var(--clr-light-red));
}
.button-container {
  width: fit-content;
  margin: auto;
  margin-bottom: 5em;
}
.desktop {
  display: none;
}
.article-container {
  padding-top: 5em;
  margin-bottom: 15em;
}
.article-container :is(h2, h3) {
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: var(--clr-very-dark-grayish-blue);
  font-size: 1.8rem;
  line-height: 1;
  margin-block-start: 2em;
  margin-block-end: 0.5em;
}
.article {
  margin-inline: 3em;
  text-align: center;
  color: var(--clr-very-dark-blue);
}
.editor-image,
.laptop-image {
  margin: auto;
  width: 80vw;
}
.article-with-phones {
  background-color: var(--gd-very-dark-desaturated-blue);
  padding: 1px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  position: relative;
  height: 550px;
}
.article-with-phones * {
  color: white;
}
.article-with-phones img {
  position: absolute;
  top: -200px;
}
.article-with-phones h3 {
  margin: auto;
  width: 80%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1em;
}
.article-with-phones p {
  font-size: 1.2rem;
  margin: auto;
  width: 80%;
  max-width: 750px;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.8);
}
.awp-article {
  margin: min(12em) auto 4em;
}
.laptop {
  margin-bottom: 6em;
}
footer {
  background-color: var(--clr-very-dark-black-blue);
  text-align: center;
  border-top-right-radius: 120px;
  padding-block: 5em;
}
footer > div {
  margin-bottom: 2em;
}
footer img {
  margin: auto;
  margin-bottom: 3em;
}
footer h1 {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 1em;
}
footer li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  text-decoration: none;
}

/* 
*
*
*
*
*
*/
@media screen and (min-width: 428px) {
  .article-with-phones img {
    left: 50%;
    transform: translateX(-50%);
  }
  .article-with-phones {
    height: 650px;
  }
  .awp-article {
    margin-top: min(70%, 400px);
  }
}

@media screen and (min-width: 650px) {
  .hamburger,
  .close-icon,
  .mobile-icon {
    display: none;
  }
  .desktop-icon {
    display: block;
  }
  .header {
    padding-inline: 0;
    background-image: url(/assets/bg-pattern-intro-desktop.svg),
      linear-gradient(to right, var(--gd-very-light-red), var(--gd-light-red));
    background-blend-mode: lighten;
    padding-inline: 5vw;
    color: white;
  }
  .nav-lists-container {
    display: unset;
    position: unset;
    background-color: unset;
    margin-left: 1em;
    width: 100%;
  }

  .nav-lists {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .nav-lists li {
    margin: 0;
  }
  .connect {
    border: 0;
    display: flex;
    align-items: center;
    position: relative;
  }
  .connect p {
    padding: 0;
  }
  .form {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 1em;
  }
  .sign-up {
    background-image: unset;
    background-color: white;
    color: var(--clr-light-red);
  }
  .sign-up:where(:hover, :focus) {
    opacity: 0.5;
  }
  .sub-list {
    display: none;
    position: absolute;
    top: 200%;
    background-color: white;
    color: var(--clr-very-dark-blue);
    border-radius: 5px;
  }
  .sub-list li {
    margin: 1em;
    margin-right: 2.5em;
    text-align: left;
  }
  .header-heading {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .header-paragraph {
    font-size: 1.5rem;
    margin-block-start: 0.5em;
    margin-block-end: 1em;
  }
  button {
    padding-inline: 3em;
    font-size: 1rem;
  }
  .article-container {
    padding-top: 2em;
  }
  .article-container h2 {
    margin: 2em auto;
  }
  .article-container p {
    max-width: 650px;
    margin: auto;
  }
}
@media screen and (min-width: 1005px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .article-container {
    background-image: url(/assets/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-size: max(500px, 40%);
    background-position: 114% 0;
    margin-top: 4em;
    padding-top: 1em;
  }
  .article-container h2 {
    margin: 0 auto;
  }
  .articles {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: max(10vw, 8em);
  }
  .article :is(h3, p) {
    text-align: left;
  }
  .article h3 {
    font-size: 1.92rem;
  }
  .article p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .article-with-phones {
    height: auto;
    padding: 4em 0em;
  }
  .article-with-phones img {
    left: 20%;
  }
  .awp-article {
    margin: 0;
    margin-left: auto;
    width: 60%;
  }
  .laptop {
    background-image: url(/assets/illustration-editor-desktop.svg);
    background-position: -14% 0;
  }
  .laptop > .articles {
    margin-left: auto;
    margin-right: max(10vw, 8em) !important;
  }
  footer * {
    margin: 0 !important;
    padding: 0 !important;
  }
  footer {
    display: flex;
    align-items: flex-start;
    padding: 2em 0;
  }
  footer > div {
    width: 25%;
    height: 100%;
  }
  footer h1 {
    margin-bottom: 1em !important;
  }
  footer ul li {
    margin-bottom: 0.6em !important;
  }
  footer img {
    margin-left: 3em !important;
  }
}
